import { createSelector } from 'reselect';

export const getUserState = state => state.user || {};

export const getUser = createSelector(
  getUserState,
  state => state.user && state.user.loggedInUser,
);

export const userIsAuth = createSelector(
  getUser,
  user => user && !!user.accessToken,
);
